<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>测试题</title>
    <link rel="stylesheet" href="../css/app.css" />
    <link rel="stylesheet" href="../fonts/iconfont.css" />
    <script src="../fonts/iconfont.js"></script>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/slider.css" />
</head>
<body class="luowl-body">
    <!-- 顶部导航 -->
    <div class="luowl-header">
        <div class="luowl-header-img">
            <img src="../images/logo.png">
        </div>
        <div class="luowl-header-button">
            <div class="luowl-header-logout">
                <button class="luowl-btn-sm luowl-gbc-danger">Log Out</button>
            </div>
            <div class="luowl-icon-lingdang">
                <i class="icon iconfont icon-lingdang"></i>
            </div>
            <div class="luowl-icon-shezhi">
                <i class="icon iconfont icon-shezhi"></i>
            </div>
        </div>
    </div>
    <!--顶部导航 over-->

    <!--中部主体-->
    <div class="luowl-center" >
        <!-- 标题 + 导航 -->
        <div class="luowl-top-title">
            <div class="luowl-float-left">
                <div class="luowl-title-title">Audience Overview</div>
                <div class="luowl-title-subtitle">Roseville, CA</div>
            </div>
            <div class="luowl-float-right luowl-margin-top-sm">
                <div class="luowl-navs-body">
                    <div class="luowl-nav-panel">SETTINGS</div>
                    <div class="luowl-nav-panel">MAILBOX</div>
                    <div class="luowl-nav-panel">CALENDAR</div>
                    <div class="luowl-nav-panel">PROJECTS</div>
                    <div class="luowl-nav-panel">DASHBOARD</div>
                    <i class="luowl-tab-lip"></i>
                </div>
            </div>
        </div>
        <!-- 轮播图 + Support -->
        <div class="luowl-mid-main">
            <div class="luowl-mid-part luowl-float-left">
                <div class="middle_right">
                    <div class="luowl-slider">
                        <div class="luowl-slider-icon luowl-left-0">&lt;</div>
                        <div class="luowl-sliders">
                            <a href="#"><img src="../images/1.png"></a>
                            <a href="#"><img src="../images/2.png"></a>
                            <a href="#"><img src="../images/3.png"></a>
                            <a href="#"><img src="../images/4.png"></a>
                            <a href="#"><img src="../images/5.png"></a>
                        </div>
                        <div class="luowl-slider-icon luowl-right-0">&gt;</div>
                        <ul class="luowl-control-nav">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="luowl-mid-part luowl-float-right">
                <div class="luowl-part-header">
                    <div class="luowl-header-left">Support Requests</div>
                    <div class="luowl-header-right" >
                        <button class="luowl-btn-sm">View All</button>
                    </div>
                </div>
                <div class="luowl-part-footer">
                    <table class="luowl-footer-table">
                        <tr>
                            <th class="luowl-table-left">TIME</th>
                            <th class="luowl-table-center">USER NAME</th>
                            <th class="luowl-table-right">STATUS</th>
                        </tr>
                        <tr>
                            <td class="luowl-table-left">9:45pm</td>
                            <td class="luowl-table-center">info@design.com</td>
                            <td class="luowl-table-right"><button class="luowl-btn-xs">Solved</button></td>
                        </tr>
                        <tr>
                            <td class="luowl-table-left">9:45pm</td>
                            <td class="luowl-table-center">info@design.com</td>
                            <td class="luowl-table-right"><button class="luowl-btn-xs">Solved</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- 曲线图 -->
        <div class="luowl-mid-echart">
            <div id="chart1"></div>
        </div>
        <!-- 饼状图 + 柱状图 -->
        <div class="luowl-margin-top-sm">
            <div class="luowl-mid-main">
                <div class="luowl-mid-part luowl-float-left">
                    <div class="middle_right">
                        <div id="chart2"></div>
                    </div>
                </div>
                <div class="luowl-mid-part luowl-float-right">
                    <div id="chart3"></div>
                </div>
            </div>
        </div>
    </div>
    <!--中部主体 over-->

    <!--footer-->
    <div class="luowl-footer-main">
        <div class="luowl-footer-img">
            <img src="../images/logo.png">
        </div>
        <div class="luowl-footer-navbar">
            <div class="luowl-navbar-list">
                <div><a href="#">NEWS</a></div>
                <div><a href="#">CHANNELS</a></div>
                <div><a href="#">OVERVIEW</a></div>
                <div><a href="#">TIMELINE</a></div>
            </div>
            <div class="luowl-navbar-list">
                <div><a href="#">SPORT</a></div>
                <div><a href="#"><u>CULTURE</u></a></div>
                <div><a href="#">NATURE</a></div>
                <div><a href="#">MUSIC</a></div>
            </div>
            <div class="luowl-navbar-list">
                <div><a href="#">WEATHER</a></div>
                <div><a href="#">AUTOS</a></div>
                <div><a href="#">LOCAL </a></div>
                <div><a href="#">SHOP</a></div>
            </div>
            <div class="luowl-navbar-list">
                <div><a href="#">FUTURE</a></div>
                <div><a href="#">FOOD</a></div>
                <div><a href="#">EARTH</a></div>
                <div><a href="#">TV</a></div>
            </div>
            <div class="luowl-navbar-list">
                <div><a href="#">TRAVEL</a></div>
                <div><a href="#">RADIO</a></div>
            </div>
        </div>
    </div>
    <!--footer over-->

    <script src="../js/app.js"></script>
    <script src="../js/func.js"></script>
    <script src="../js/slider.js"></script>
    <script src="../js/echarts.common.min.js"></script>
    <script src="../js/my.echarts.js"></script>
    <script>
        // 轮播图
        $(function(){
            var Slider = new slider($(".luowl-slider"), {
                time: 3000, // 自动播放时间
                speed: 500, // 切换速度
                auto: true, // 是否自动播放
                controller: $('.luowl-control-nav') // 小原点
            });

            // 左右切换
            $(".luowl-slider-icon").on('click', function(e) {
                var target = $(e.target);
                if(target.hasClass('luowl-left-0')){
                    Slider.prev()
                }else{
                    Slider.next()
                }
            });
        });
    </script>
</body>
</html>